<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %> cheatsheet</title>
  <meta name="description" content="<%= description%>" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cerulean/bulmaswatch.min.css">
  <style>
    table {
      font-size: small;
      width: 100%;
    }
    h1 {
      padding-bottom: 0.5em;
    }
    h2,h3,h4,h5,h6 {
      padding-top: 1em;
      padding-bottom: 0.2em;
      margin-top: 0.2em;
    }
    div.highlight {
      padding: 0.5em;
    }
  </style>
http://www.namaraii.com/cheatsheet/.
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script async type="text/javascript" src="/js/bulma.js"></script>
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar is-fixed-top is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/cheatsheet">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
      </a>
      <a class="navbar-item" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=<%= title %>&amp;url=https://www.namaraii.com/cheatsheet/<%= front_matter['html'] %>" >
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
      </a>
      <a class="navbar-item" href="https://github.com/htakeuchi/cheatsheet/tree/master/src/<%= front_matter['html'].sub(/\.html$/, '.md') %>">
        <span class="icon">
          <i class="fab fa-github""></i>
        </span>
      </a>
    </div>
  </nav>

  <section class="section sheet padding-10m">
    <div class="container">
      <h1 class="title has-text-centered"><%= title %></h1>

      <div class="columns">
        <% columns.each do |a| %>
        <div class="column <%= column_class %>">
          <%= markdown.render a.join %>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</body>
</html>
